/* 공통 css */
*{margin: 0;padding: 0;box-sizing: border-box;}
ul, ol,li{list-style-type: none;}
li{line-height: initial;}
a{text-decoration: none;color: #333;font-weight: bold; cursor: pointer;background: transparent;}
div{display: block}
html {line-height: normal;margin: 0;padding: 0;color: #141414;font-family: Pretendard Variable,Pretendard Std Variable,Pretendard JP Variable,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;font-weight: 400;letter-spacing: -0.03em;font-size: 14px;}
hr{height: 1px;width: 100%; background-color: #f0f0f0;}


/* header 첫번째 블록*/
.header-magin{max-width: 1170px;margin: 0 auto;}
.header-div1{display: flex;justify-content:space-between;align-items:center;padding: 16px 18px 8px 30px;box-sizing: border-box; flex-wrap: wrap;}
#h-d1-sid{ display: flex;flex-direction: row-reverse; align-items:center; justify-content:right ;flex-wrap: wrap;}
#logo1{width: 60px; height: 24px;} #logo2{width: 60px; height: 22px;}
#h-d1-s{width: 260px;margin-right: 8px;display: flex;align-items: flex-start;}
#h-d1-s-s{background: #f5f5f5;border: 1px solid rgba(0,0,0,0.5%);border-radius: 8px;display: flex;align-items: center;padding: 10px;height: 40px;width: 100%;}
#h-d1-id{display: flex;align-items: center; justify-content:space-around;}
.h-d1-s-id1{color: #787878; font-weight: 600;line-height: 18px;font-size: 14px;padding: 11px 12px;}
.h-d1-s-id2{color: #787878; font-weight: 600;line-height: 18px;font-size: 14px;padding: 11px 12px;}


/*header 2번째 블록 메뉴 왼쪽 */
.header-div2{  padding: 0 30px 0 18px; margin: 0 auto;display: flex;justify-content:space-between;align-items:center;}
.headmenu1{line-height: 18px;overflow: auto;font-size: 16px;font-weight: 600px;display: flex; align-items: center;}
.h-m-l{padding: 17px 12px;display: flex; align-items: center; flex-direction: row;}
.h-m-l1{padding: 17px 12px;display: flex; align-items: center; pointer-events: none;font-weight: 700px;color: #1e9eff;touch-action: none;}
.h-m-l:hover{opacity: 0.4;}

/* header 2번째 블록 메뉴 오른쪽 */
.headmenu2{line-height: 18px;font-size: 15px;font-weight: 600px;display: flex; align-items: center; position: relative;}
#toca{font-size: 26px; margin: 3px; position: relative;}
#toca2{font-size: 26px; margin: 3px; position: relative;}
.h-m-l2{display: flex; align-items: center;margin: 12px 1px 12px 8px; }
.h-m-l22{display: flex; align-items: center;margin: 12px 1px 12px 20px; }


/* 바디 첫번째 섹션 목차 파트 */
.s1-menu-d{max-width: 1170px; margin: 0 auto; }
.s1-menu-d-f-l{display: flex;justify-content: space-between;align-items: center; }
.s1-menu-d-f-l-box{overflow:auto;white-space: nowrap;}
.s1-menu-ul{visibility: visible; display: flex; gap: 2px; padding: 13px 30px; overflow: auto;}
.s1-menu-a{display: inline-block;padding: 7px 10px 8px; border-radius: 99px; line-height: 19px; transition: all 0,2s ease-in-out;} 
.s1-menu-a:hover{opacity: 0.4;}


/* 기본박스 설정 */
.basic-box{max-width: 1170px; padding:0 30px; margin: 0 auto; margin-top: 40px; margin-bottom: 30px;}
.basic-title1{height: 48px;padding-top: 6px;padding-bottom: 16px;}
.basic-title2{width: 100%;height: 100%;display: flex;justify-content: space-between;align-items: center;}
.basic-bigbox{position: relative;display: flex;height: 100%;}
.basic-bigbox-d3{display: flex;flex-direction: column; justify-content: center; align-items:start; width: 184px; height: 100%; margin-right: 26px;}



/* 바디 세번째 섹선 */
.s3-box{max-width: 1170px; padding:0 30px; margin-top: 30px; margin: 0 auto;}
.s3-bm{position: relative; display: flex; flex-wrap: nowrap;justify-content: center;overflow-x: auto; overflow-y: hidden;scrollbar-width: none;}
.s3-bm-ul{display: flex;flex-direction: row;justify-content: center;}
.s3-bm-ul-li{display: inline-block;flex: none; margin: 0 10px;}
.s3-bm-ul-li-a{display: flex;flex-direction: column; align-items: center;width: 70px ;}
.s3-bm-ul-li-a-div{position: relative;width: 100%;height:0; padding-bottom: 100%; overflow: hidden;}
.s3-bm-ul-li-a-div-img{width: 100%;height: 100%; position: absolute;top: 50%;left: 50%; transform: translate(-50%,-50%);}
.s3-bm-ul-li-a-span{font-size: 13px;line-height: 16px;text-align: center;margin-top: 8px;font-weight: 500;}


/* 바디 네번쩨 섹션 */
.s4-b-d2{position: relative;}
.s4-b-d2-d1{display: flex;width: 100%;overflow: hidden;}
.s4-b-d2-ul{display: flex;}
.s4-b-d2-d1-ol{display: flex;flex-direction: column; width: max-content;transition: transform 0.3s ease;}
.s4-b-d2-d1-ol-li{width: 370px;height: 116px;}
.s4-b-d2-d1-ol li:not(:nth-of-type(3n)){margin-bottom: 6px;}



/* 자바써야할곳 */
.basic-form{width: 100%;}
.basic-imgbox{display: flex;flex-direction: column;justify-content: center;width: 80px; background-color: #c4c4c4; border-radius: 5px;}
.basic-index{font-weight: 500;font-size: 18px;line-height: 21px;color: rgb(20,20,20);}
.basic-indexbox{display: flex;justify-content: center; align-items: center; width: 80px; height: 100%;}
.title-free{white-space:nowrap ;overflow: hidden;text-overflow: ellipsis;}
.member-free{margin-top: 6px;display: flex;}
.star-free{display: flex;flex-direction: column;margin-top: 7px;}
.sbd-title{font-size: 16px;line-height: 19px;}
.sbd-member{color: rgb(120, 120, 120); font-size: 13px;line-height: 16px;}
.sbd-member-star{color: rgb(120, 120, 120); font-size: 10px;line-height: 1px; margin: 0px 5px; margin-top: 10px;}




/* 바디 다섯번째 섹션 */
.s5-d{display: flex; }
.s5-li{margin-right: 6px;}
.s5-li-div{position: relative; display: flex;flex-direction: column; align-items: flex-start; width: 180px;}
.s5-li-div-div{width: 100%; padding-bottom: 145%; position: relative;align-items: stretch; box-sizing: border-box;}
.s5-li-div img{width: 100%; max-height: 100%; position: absolute;border-radius: 4px; overflow: hidden;}
.s5-li-div2 {width: 100%;height: 84px; margin-top: 10px;}




/* event박스 섹션 */
.event-main{max-width: 1170px;padding-left: 30px;padding-right: 30px;margin: 0 auto;}
.event-sub1{position: relative;margin-left: -3px;margin-right: -3px;}
.event-sub2{display: flex;width: 100%;overflow: hidden;}

.eventbox{min-width: calc((1170px - 54px) / 3) ;  padding: 0 3px;}

.eventbox-a{display: flex;justify-content: flex-end;align-items: center;width: 100%;border-radius: 4px;background-color: rgb(0,40,136); position: relative;}
.eventbox-a-div1{width: 100%;padding: 24px;position: absolute;left: 0; z-index: 777;}
.eventbox-a-div1 p{max-width: 200px;color: #ffffff;font-size: 15px;overflow: hidden;text-overflow: ellipsis; max-height: calc(20px * 2) ; line-height: 20px;}
.eventbox-a-div2{width: 200px;height: 90px;display: flex;align-items: center;}
.eventbox-a-div2 img{max-width:100% ;max-height: 100%; border-radius: 4px;}













/* footer 디자인 */
.footer-main{max-width: 1170px; margin: 0 auto ;padding: 41px 26px 20px 26px; display: flex; justify-content: space-between;flex-wrap: wrap; }
.foot-div{display: flex; flex-direction: column; flex: 1;}
.foot-d1-d1{display: flex; flex-direction: row; }
.foot-d1-d2{margin-top:60px ; margin-bottom: 20px;}
.foot-conform {display: flex;flex-direction: column  ;width: 185px ;}
.foot-conform li{display: inline-flex; align-items: center;margin: 10px 0 ;}
.foot-conform-a{display: flex; align-items: center;font-size: 13px; line-height: 16px; color: #787878; font-weight: bold;}
.foot-conform2{display: flex;  flex: 1; }
.foot-menu{display: flex; flex: 2; }
.foot-service{display: flex; flex-direction: column; max-width: 185px; margin-right: 20%;}
.foot-ulname{ font-size: 13px; line-height: 16px; color: #787878; font-weight: 700; padding: 4px 0; margin-bottom: 12px;}
.foot-conform2 ul{display: flex;flex-direction: column;}
.foot-conform2 ul li{font-size: 13px; line-height: 16px; color: #787878; padding: 6px 0; align-items: center;}
.foot-conform2 ul li:first-of-type{padding-top: 0;}


.foot-icon{display: flex;padding-bottom: 30px;padding: 0 4px;}
.foot-icon-li{color: #787878;margin-left: 10px;}
.foot-icon-li:first-of-type{margin-left: 0;}
.foot-icin-li-a{width: 44px;height: 44px;display: inline-flex;justify-content: center;align-items: center;border: 1px solid #e6e6e6;border-radius: 22px;}

.foot-impo-ul{display: flex;align-items: center;}
.foot-impo-li{display: inline-flex;height: 13px;line-height: 13px;font-size: 11px;color: #787878;}
.foot-impo-li::before {content: '';display: inline-block;background: #f0f0f0;width: 1px; height: 9px;margin: 2px 6px;}




/* 버튼 속성 */
.button-set{top: 0; left: 0; position: absolute; height: 100%; display:flex; align-items: center; justify-content: space-between;width: calc(100% + 40px); padding: 0; margin:  0 -20px; z-index: 999;}
.button-set2{top: 0; left: 0; position: absolute; height: 72%; display:flex; align-items: center; justify-content: space-between;width: calc(100% + 40px); padding: 0; margin:  0 -20px; z-index: 999;}
.button-left{transform: rotate(180deg); visibility:hidden}
button {display: inline-flex;justify-content: center;align-items: center;width: 40px;height: 40px;cursor: pointer;background: #ffffff;box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.06);border-radius: 50%;border: 1px solid #f0f0f0;pointer-events: auto;transition: opacity 0.2s ease, color 0.2s ease, pointer-events 0.2s ease;color: #141414;font-size: 16px;}
.scrolldiv{ box-sizing: border-box;flex: none;width: 1px; margin-right: -1px;}


